pkgbase = runner
	pkgdesc = TUI project script runner
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/removingnest109/runner
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ftxui
	makedepends = tomlplusplus
	makedepends = doctest
	depends = gcc-libs
	source = runner-0.2.0.tar.gz::https://github.com/removingnest109/runner/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 4fd73f6f0088be0d661c254165feb4dbcb5974eb97fa4f17e3b2d11806da9bc9

pkgname = runner
